@model Casgem_Portfolio.Models.Entities.TblAboutHeader

<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">@Model.Title1</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">@Model.Redirect1</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> @Model.Redirect2 </li>
            </ul>
        </div>
    </div>
</section>
