<section class="w3l-services">
    <div class="w3l-achievements py-5" id="services">
        <div class="container py-lg-5">
            <h5 class="title-small text-center">My achievements</h5>
            <h3 class="title-big text-center mb-sm-5 mb-4">Personal Awards</h3>
            <div class="row">
                <div class="col-lg-6 item">
                    <div class="card">
                        <div class="box-wrap">
                            <div class="icon">
                                <span class="fa fa-globe"></span>
                            </div>
                            <h4><a href="#url">Website of the day</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi reiciendis labore quisquam
                                suscipit qui veritatis. voluptas quia officiis fugit soluta sunt
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 item">
                    <div class="card">
                        <div class="box-wrap">
                            <div class="icon">
                                <span class="fa fa-laptop"></span>
                            </div>
                            <h4><a href="#url"> Awards Site Of The Day</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi reiciendis labore quisquam
                                suscipit qui veritatis. voluptas quia officiis fugit soluta sunt
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 item">
                    <div class="card">
                        <div class="box-wrap mb-lg-0">
                            <div class="icon">
                                <span class="fa fa-trophy"></span>
                            </div>
                            <h4><a href="#url">Honorable mention award</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi reiciendis labore quisquam
                                suscipit qui veritatis. voluptas quia officiis fugit soluta sunt
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 item">
                    <div class="card">
                        <div class="box-wrap mb-0">
                            <div class="icon">
                                <span class="fa fa-laptop"></span>
                            </div>
                            <h4><a href="#url">Designer of the Company</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi reiciendis labore quisquam
                                suscipit qui veritatis. voluptas quia officiis fugit soluta sunt
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
